.descriptionServices {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: clamp(250px, 30vw, 300px);
    height: clamp(350px, 40vh, 400px);
    padding: 5px;
    margin: 10px 0;
    -webkit-box-shadow: 10px 10px 64px -44px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 64px -44px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 64px -44px rgba(0, 0, 0, 0.75);
    gap: 50px;

}

.card img {

    width: clamp(30px, 5vw, 50px);
    height: auto;
}

.subtitle,
.text {
    text-align: center;
}