section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10vh;
    /* Empurra a seção para evitar sobreposição */
    min-height: calc(100vh - 10vh);
    position: relative;
}

.textPrincipal {
    color: #ff3800;
}