/* ------------------ FORMS -------------------------*/
.modalForm {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 2rem;

}

.form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    height: clamp(60vh, 80vh, 100vh);
    border-radius: 10px;
    bottom: 10px;

}


.forms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    width: 60%;
}

.buttonContent {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    justify-content: flex-end;


}

.buttonNext {
    background-color: #BEFF9F;
    color: #fff;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
}

.buttonBack {
    background: none;
    color: #ff3800;
    cursor: pointer;

}

.buttonEnd {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
}

.close {
    position: relative;
    background-color: red;
    color: #fff;
    padding: .6rem;

    text-align: justify;

}



.modalButton {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}



/* ----------------- STEPS -------------------------- */
.steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin: 20px 0;


}

.step {
    width: 40px;
    height: 40px;
    padding: .5rem;
    border-radius: 50%;
    text-align: center;
}


.stepOn {
    background: #000;
    color: #fff;

}

.stepOff {
    background: #f8faff;
    color: #fff;

}

.active {
    color: #000
}

.inative {
    color: #fff;
}


.step1,
.step2 {
    display: grid;
    grid-template-areas:
        "form1 form2"
        "form3 form4";
    gap: 20px;
}

.form1 {
    grid-area: form1;
}

.form2 {
    grid-area: form2;
}

.form3 {
    grid-area: form3;
}

.form4 {
    grid-area: form4;
}

/* --------------------- Step 2 ---------------------*/
.radio {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}



/* ------------------------------ Step 3 -----------------------------------*/

.step3 {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas:
        "input1 input1"
        "input2 input3"
        "input4 ."
    ;
    gap: 20px;
}

.input1 {
    grid-area: input1;
    width: 100%;

}

.input2 {
    grid-area: input2;
}

.input3 {
    grid-area: input3;
}

.input4 {
    grid-area: input4;
}

/* ------------------------------ Step 4 --------------------------------*/
.step4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.check {
    width: clamp(10%, 20%, 30%);
}


@media (max-width:1000px) {
    .steps {
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    .step1,
    .step2,
    .step3 {
        display: flex;
        flex-direction: column;

    }

    .forms {
        overflow-y: scroll;
    }



    .buttonContent {
        display: flex;
    }

    .radio {
        display: flex;
        flex-direction: column;
    }



}