/* ------------------ FORMS -------------------------*/
.modalForm {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    margin: 0;
}

.form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    height: 80vh;
    border-radius: 10px;
}


.forms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    width: 60%;
}

.buttonContent {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    justify-content: flex-end;

}

.buttonNext {
    background-color: #BEFF9F;
    color: #fff;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
}

.buttonBack {
    background: none;
    color: #ff3800;
    cursor: pointer;
}

.buttonEnd {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
}

.close {
    background-color: red;
    color: #fff;
    padding: 1rem;

}

.modalButton {
    margin-left: 75rem;
}



/* ----------------- STEPS -------------------------- */
.steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 20px 0;

}

.step {
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
}

.stepOn {
    background: #000;
    color: #fff;

}

.stepOff {
    background: #f8faff;
    color: #fff;

}

.active {
    color: #000
}

.inative {
    color: #fff;
}


.step1,
.step2 {
    display: grid;
    grid-template-areas:
        "form1 form2"
        "form3 form4";
    gap: 20px;
}

.form1 {
    grid-area: form1;
}

.form2 {
    grid-area: form2;
}

.form3 {
    grid-area: form3;
}

.form4 {
    grid-area: form4;
}

/* --------------------- Step 2 ---------------------*/
.radio {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.select {
    background: #f8faff;
    padding: .5rem .75rem;
    border: none;
    border-radius: 5px;
    display: block;
    width: 100%;
}



.select option {
    background: #f8faff;
    padding: .5rem .75rem;
    border: none;
    border-radius: 5px;
    width: 100%;
}

/* ------------------------------ Step 3 -----------------------------------*/

.step3 {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas:
        "input1 input1"
        "input2 input3"
        "input4 ."
    ;
    gap: 20px;
}

.input1 {
    grid-area: input1;
    width: 100%;

}

.input2 {
    grid-area: input2;
}

.input3 {
    grid-area: input3;
}

.input4 {
    grid-area: input4;
}

/* ------------------------------ Step 4 --------------------------------*/
.step4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.check {
    width: 10%;
}